.deleteTooltip {
  opacity: 1 !important;
  padding: 0px 0px 0px 0px !important;
  border-radius: 1rem !important;
  background-color: #fff !important;
  border-color: #321fdb !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
  width: 300px;
}

.tooltipHeader {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}
